.header {
  width: 100%;
  position: relative;
  z-index: 2;
  background-color: var(--light-blue);
}

header {
  padding: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 71.25rem;
  margin: 0 auto;
}

header .logo {
  width: 6.25rem;
}

.burger {
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  background: transparent;
  cursor: pointer;
  display: none;
  transition: 0.25s ease-in-out;
}
.burger span {
  position: relative;
  height: 0.1875rem;
  width: 100%;
  border-radius: 0.5625rem;
  background: #b56d6f;
}
.sidemenu.mobile {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: #b8808d;
  right: 0;
  bottom: 0;
  z-index: 9;
  transition: 0.25s ease-in-out;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidemenu.mobile.closed {
  width: 0rem;
}
nav.mobile {
  height: 100%;
  width: 100%;
}
.mobile ul {
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}
.mobile ul li {
  font-size: 2.5rem;
}
.close-btn {
  font-size: 50px;
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  z-index: 999999;
  opacity: 1;
  visibility: visible;
  transition: all 0.2s ease-in-out;
}
.sidemenu.mobile.closed .close-btn {
  opacity: 0;
  visibility: hidden;
}

.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
}
.overlay.closed {
  display: none;
}
nav {
  color: #fff;
}
ul {
  display: flex;
  padding: 0;
}
ul li {
  list-style: none;
  margin: 0 1.25rem;
}
ul li a {
  text-decoration: none;
  color: #fff;
}
ul li a:hover {
  color: var(--yellow);
}
@media (max-width: 36.25rem) {
  header {
    gap: 1.25rem;
  }
}
@media (min-width: 769px) {
  nav.mobile {
    display: none;
  }
}
@media (max-width: 48rem) {
  .burger.closed {
    display: flex;
  }
  nav:not(.mobile) {
    display: none;
  }
}
