.header {
  width: 100%;
  position: relative;
  z-index: 2;
  background-color: var(--light-blue);
}

header {
  padding: 2.5rem 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: position 10s;
  -ms-transition: position 10s;
  -o-transition: position 10s;
  transition: all 0.5s ease;
}
body.nav-mobile .header.header-fixed {
  height: 100%;
}
.header.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 100px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(42, 50, 96, 0.8);
  animation: smoothScroll 1s forwards;

  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.2);
}
@keyframes smoothScroll {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}
.header.header-fixed header {
  padding: 0.5rem 15rem;
}
.header.header-fixed .logo {
  width: 4rem;
}
header .logo {
  width: 6.25rem;
}

.burger {
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  background: transparent;
  cursor: pointer;
  display: none;
  transition: 0.25s ease-in-out;
}
.burger span {
  position: relative;
  height: 0.1875rem;
  width: 100%;
  border-radius: 0.5625rem;
  background: #b56d6f;
}
.sidemenu.mobile {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: #b8808d;
  right: 0;
  bottom: 0;
  z-index: 9;
  transition: 0.25s ease-in-out;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidemenu.mobile.closed {
  width: 0rem;
}
nav.mobile {
  height: 100%;
  width: 100%;
}
.mobile ul {
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.mobile ul li {
  font-size: 2.5rem;
  margin: 20px 0;
}
.close-btn {
  font-size: 50px;
  color: #fff;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  z-index: 999999;
  opacity: 1;
  visibility: visible;
  transition: all 0.2s ease-in-out;
}
.sidemenu.mobile.closed .close-btn {
  opacity: 0;
  visibility: hidden;
}

.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
}
.overlay.closed {
  display: none;
}
nav {
  color: #fff;
  display: flex;
  align-items: center;
}
ul {
  display: flex;
  padding: 0;
  margin-bottom: 0;
}
ul li {
  list-style: none;
  margin: 0 1.25rem;
}
ul li a {
  text-decoration: none;
  color: #fff;
}
ul li a.active {
  color: tomato;
}
ul li a:hover {
  color: var(--yellow);
}
@media (max-width: 75rem) {
  header {
    padding: 1.25rem 5rem;
  }
}
@media (max-width: 36.25rem) {
  header {
    gap: 1.25rem;
    padding: 1.25rem;
  }
}

@media (min-width: 769px) {
  nav.mobile {
    display: none;
  }
}
@media (max-width: 48rem) {
  .burger.closed {
    display: flex;
  }
  nav:not(.mobile) {
    display: none;
  }
}
